@font-face{
  font-family: 'Amaranth';
  font-style: normal;
  font-weight: 400;
  src: url(amaranth-v10-latin-regular.ttf); /* IE9 Compat Modes */
}
#topLinks{
  list-style-type: none;
}
nav #lk{
  margin-left: 20px;
}
#RI{
  margin-top: 10px;
  margin-bottom: 10px;
  color: #DE7F09;
  background-color: #FFE0BA;
}
#RI,#links,#skills{
  padding:2px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#title{
  text-decoration: none;
  font-size: 30px;
}
#boxTitle,#title{
  font-family: Amaranth;
}
#boxTitle{
  font-size: 1em;
}
#RI h1{
  font-size: 1.5em;
}
.media{
  font-size: 0.5em;
}
#RI{
  color: #DE7F09;
  background-color: #FFE0BA;
}
#links{
  color: #011EB2;
  background-color: #C0F3FF;
}
#followingList ul{
  list-style-type: none;
}
#boxTitle{
  background-color: black;
  color: white;
}
#followingList{
  margin-left: 10%;
  margin-top: 1%;
  height: 80%;
  width: 80%;
}
#skills{
  background-color: #FFE0BA;
}
.col-md-7{
  margin-top: 10px;
}
