*{
  text-align: center;
}
table{
  width: 50%;
  border-color: blue;
  border: solid 1pt black;
}
th,td{
  border: solid 1pt black;
}
#blank{
  padding-left: 10vw;
}
#total{
  text-align: left;
}
#title{
  padding-top: 2vw;
  padding-bottom: 2vw;
  border: none;
  background-color: #027B6B;
}
.grey{
  background-color: #BDBDBD;
}
