*{
  font: sans-serif;
}
body{
  background-color: #003366;
}
nav{
  text-align: center;
  background: #0691AA;
  color: white;
}
footer{
  color: white;
}
a{
  color: inherit;
}
a:hover{
  color: hotpink;
}
ul{
  text-align: inherit;
  padding-right: 4vw;
}
#title,#subtitle{
  text-align: center;
  color: #01223D;
  font-size: 190%;
}
#subtitle{
  color: #01223D;
  font-size: 100%;
}
#top_of_site,#information_block{
  text-align: center;
  width: 85vw;
  background-color: #D3E8F8
}

#PS{
  text-align: center;
}

#my_portrait{
  padding-top: 4vw;
}

#whole_body{
  padding-left: 6vw;
}
