*{
  font: sans-serif;
}
body{
  background-color: #003366;
}
nav{
  text-align: center;
  background: #0691AA;
  color: white;
}
footer{
  color: white;
}
a{
  color: inherit;
}
a:hover{
  color: hotpink;
}
ul{
  list-style-type: none;
  text-align: inherit;
}
h4{
  font-family: Palatino,"Palatino Linotype";
  font-weight: bold;
  font-style: oblique;
  font-size: 130%;
}
.dates,.qualifications{
  padding-top: 10px;
  padding-bottom: 10px;
}

#title,#subtitle{
  text-align: center;
  color: #01223D;
  font-size: 190%;
}
#subtitle{
  color: #01223D;
  font-size: 100%;
}
#top_of_site,#information_block{
  text-align: center;
  width: 85vw;
  background-color: #D3E8F8;
}

#PS{
  text-align: center;
  padding-left: 15vw;
  padding-right: 15vw;
}

#my_portrait{
  padding-top: 4vw;
}

#whole_body{
  padding-left: 6vw;
}
