#top,#bot,#items{
  border: solid 1pt black;
}
#top{
  background-color: #900C3F;
  color: white;
  text-align: center;
}
#actorContainer{
  width: inherit;
  height: inherit;
  float: left;
  border: solid 1pt black;
}
#Mimg,.Aimg{
  clear: both;
  border-radius: 5vw;
}
.Aimg{
  height: 45vw;
  width: 25vw;
  border: solid 1pt grey;
}
.tCell{
  border: solid 1pt black;
  text-align: center;
}
.tHeading{
  background-color: #BDBDBD;
}
.rank{
  text-align: center;
  width: auto;
}
.movie{
  text-align: center;
  width: auto;
}
.poster{
  text-align: center;
  width: auto;
}
.cast{
  text-align: center;
  width: auto;
}
.acell{

}
table{
  width: 100%;
}
#actorTable{
  padding-left: 4vw;
  width:100%;
  height: inherit;
  border: solid 1pt black;
}
