thead td{
  width: 10px;
  background-color: black;
  color: white;
  padding: 15px;
  text-align: center;
}
#mult{
  background-color: #FFF8DD;
  color: black;
  border: solid 1px #A2A2A2;
}
#header{
  font-weight: bold;
}
caption,#myTFoot{
  background-color: #F89F16;
  font-weight: bold;
  color: black;
  border: solid 1px black;
}
#myTable{
  border: solid 1px black;
}
#myTFoot{
  text-align: center;
}
#myThead{
  padding-left: 2px;
}
