#bot,#Cap{
  background-color: black;
  color: white;
}
.attraction{
  padding-top: 10%;
}
#TopTitle{
  padding-left: 35%;
}
#Cap,#LE{
  width: 30vw;
}
#LE{
  z-index: -1000;
}
#pic{
  float: left;
}
#info{
  padding-top: 3%;
  background-color: none;
  color: black;
}
figure{
  padding-left: 10%;
}
*{
  margin: 0;
  padding: 0;
}
body{
  padding: 1%;
}
a{
  color: white;
}
a:hover{
  background-color: green;
}
#medal{
  margin: 0;
  position:absolute;
  top:inherit;
  left: 10vw;
  z-index: 1;
}
article{
  background-color: grey;
  margin: 0;
  padding: 0;
  height: 150%;
}
h1 {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}
.hgroup-wrap{
  padding-top: 1vw;
  float: none;
}
.one{
  padding-top: 4vw;
}
