/*import css from parent class*/
@import url("loginoutParent.css");

/*login style rule using id selector*/
#login{
  color: white;
  background-color: rgba(246, 246, 246, 0.3);
  border: solid 1px black;
  margin: 10vw 30vw;
}
/*title style rule (using google font) using class selector*/
.title{
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color: white;
  padding-bottom: 20px;
}
/*style rule for form inputs using class selector*/
.inputs{
  text-align: center;
}
/*style for login legend using class selector*/
.loginL{
  display: inline-block;
  margin-right: 10px;
}
/*unsuccessful login style using id selector*/
#unsucc{
  font-family: 'Heebo', sans-serif;
  color: red;
  text-shadow: -1px -1px 0 white,-1px -1px 0 white,-1px -1px 0 white,-1px -1px 0 white;
}
