/*imports css from parent css*/
@import url("loginoutParent.css");

/*style panels with see-through background using id selectors*/
#panel,#panel2{
  color: white;
  background-color: rgba(246, 246, 246, 0.3);
  border: solid 1px black;
  margin: 10vw 22vw;
}
/*style message using class selector*/
.uploadmessage{
  background-color: rgba(246, 246, 246, 0.5);
}
/*style menu-bar title using class selector*/
.title{
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color: white;
  padding-bottom: 20px;
}
/*align label and textarea to be in the middle using element selectors*/
label {display:block;}
textarea{
	display:block;
	margin-left: auto;
	margin-right: auto;
}
/*align inputs to center using class selector*/
.inputs{
  text-align: center;
}

