@import url("../portfolioSite.css");

.glassBack{
    color: white;
    background-color: rgba(246, 246, 246, 0.3);
    padding: 10px;
}
.sidePanel{
    background-color: rgba(0, 246, 246, 0.3);
    border: dotted 1px black;
}