body{
  background-image: url('mainPageBack.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  color: white;
  height: 5px;
}
#bars{
	width: 100%;
}
#lk:hover{
  color: #BECECF;
  text-shadow: black;
  text-decoration: none;
}
#lk{
  color: #9A9DA0;
}
#RI{
  color: white;
  background-color: rgba(246, 246, 246, 0.3);
}
#links,#skills{
  margin-top: 10px;
  background-color: rgba(246, 246, 246, 0.3);
}
#links li a{
  color: #F9AE33;
  font-weight: bolder;
  font-style: oblique;
  float: inherit;
}
#RI p,#skills p{
  margin: 0;
  padding: 0;
}
.table #BOLD{
  font-weight: bolder;
  float: left;
  color: #F9AE33;
}
#following{
  padding-left: 5px;
  float: right;
}
h1{
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 170%;
  color: #1B2E41;
}
p{
  color:#0E1B26;
}
#mid,#lefter{
  padding-top: 10px;
}
#mid{
  height: 100%;
}
#mid p{
  color: #E9FBF9;
}
#mid h1{
  color: #F9AE33;
}
#table-responsive{
  padding-left: 10px;
}
.nav-item{
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px;
}
#title{
  font-family: 'Bungee Inline', cursive;
  font-size: 2em;
}
#footer{
  font-size: 50%;
  background-color: #343A40;
  height: 10px;
}
#footer p{
  color: white;
}
#media{
  padding-top: 5px;
  padding-bottom: 5px;
}
