body{
  background-image: url("https://wallpaperaccess.com/full/812553.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  color: white;
  height: 5px;
}
#lk:hover{
  color: #BECECF;
  text-shadow: black;
  text-decoration: none;
}
#lk{
  color: #9A9DA0;
}
#RI{
  color: white;
  background-color: rgba(246, 246, 246, 0.3);
}
#links,#skills{
  margin-top: 10px;
  background-color: rgba(246, 246, 246, 0.3);
}
#links li a{
  color: #F9AE33;
  font-weight: bolder;
  font-style: oblique;
  float: center;
}
#project{
  margin-top: 10px;
  background-color: black;
  height: 95%;
  width:97%;
}
.outer{
  background-color: grey;
  margin-top: 50px;
  margin-bottom: 30px;
  height: 400px;
  width:100%;
}
#title{
  font-family: 'Bungee Inline', cursive;
  font-size: 2em;
}
#furtherInfo{
  border-top: 600px;
  background-color: rgba(246, 246, 246, 0.3);
}




h2{
  color: #009000;
  font-family: 'Press Start 2P', cursive;
}
#project p{
  color: #00D100;
  font-family: 'Source Code Pro', monospace;
}
h1{
  color: #00D100;
  font-family: 'Source Code Pro', monospace;
}
#typeTitle{
  padding-top: 10px;
}
